@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, table, tr, div, /* form elements 表单元素 */ th, td { /* table elements 表格元素 */
	margin: 0;
	padding: 0;
	font-weight: normal;
	outline: none;
	font-size: 100%;
}
i {
	font-style: normal;
}
a:focus {
	-moz-outline-style: none;
} /* IE不支持 */
a:focus {
	outline: none;
} /*很多网站都会加的属性*/
/* 设置默认字体 */
a {
	color: #221815;
	text-decoration: none;
}
body, button, input, select, textarea { /* for ie */
	/*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
	font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
html, body { font-size: 12px; font-family: "微软雅黑";  }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#back-to-top {
    position: fixed;
    bottom: 166px;
    right: 80px;
    z-index: 9999;
}

.atop { width: 100%; margin: 0 auto;text-align:center; background:#ffffff;  }
.logos a{  height:57px; display:block;  width:250px; text-indent:-99999px; background:url(../images/logo.png) no-repeat;}
.userzx{margin-top:5px; }
.userzx a{width:153px; display:block;height:28px;   background:url(../images/huiyuandel.png) no-repeat left center; text-indent:-9999px; }
.userzx a:hover{  background:url(../images/huiyuandel2.png) no-repeat left center; }
.userzx2 a{width:153px;height:28px; display:block; background:url(../images/ltel.png) no-repeat left center;text-indent:-9999px;}
.userzx2 a:hover{  background:url(../images/ltels.png) no-repeat left center; }
.clear {  clear: both;}
.slide_container { position: relative;float: left;width: 100%; }
.a2 { width: 100%; margin: 0 auto;text-align:center;  background:url(../images/index1.jpg) no-repeat center top; height:904px; overflow:hidden;}
.a3 { width:100%; margin: 0 auto;text-align:center;background:#edf5f7;  }
.a13 { width:100%; margin:0 auto;text-align:center;background:#307386; }
.a33 { width: 1220px; margin: 0 auto;text-align:center;}
.a333{ width: 1280px; margin: 0 auto;text-align:center; position:relative; }
.ovh{ overflow: hidden;}
.i-news .btn a { position: relative; display: inline-block; border-top: 1px solid #37979d; border-bottom: 1px solid #37979d;}
.i-news { padding:0 7%;}
.i-news .news-list {width: 1245px;margin:0 auto;}
.i-news .news-list li { float: left;position: relative;width: 395px;font-size: 13px;line-height: 20px;color: #999;text-align: center;opacity: 0;-webkit-transition: all 0.5s;transition: all 0.5s;}

.i-news .news-list li .time {
    position: absolute;
    left: 50%;
    bottom: -46px;
    width: 92px;
    height:46px;
    padding: 27px 0 19px;
    background: url(../images/bg_sign07.png) no-repeat center;
    margin-left: -46px;
	font-family:'微软雅黑';
    line-height:22px;
    color: #36979d;
	font-size:18px;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.i-news .news-list li .time p.fz20 {
    font-size: 21px;
    line-height: 1;
}
.i-news .news-list li a.f-img{
    display: block;
    position: relative;

}
.i-news .news-list li a.tit {
    display: inline-block;
    margin: 15.7% 0 0.3%;
    padding: 6px 0;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    transition: all .5s;
	font-family:'宋体';
}
.i-news .news-list li a.tit:hover{
    color: #ff0000;
}

.i-news .news-list li p{
    padding: 0 5px;

 
}

.i-news .news-list li a.more {
    display: inline-block;
    padding: 0 20px 0 5px;
    background: url(../images/bg_sign08.png) no-repeat 95% center;
    margin-top: 34px;
    font-size: 14px;
    line-height: 2;
    color: #222;
	font-family:'微软雅黑';
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.i-news .news-list li a.more:hover {
    background-position: right center;
}

.i-news .news-list li.show {
    opacity: 1;
}

.i-news .news-list li:nth-child(3n-1) {
    margin: 0 30px;
}

@media screen and (max-width: 1440px) {
    .i-news .news-list {
        width: 95%;
    }

    .i-news .news-list li {
        width: calc(33.33% - 20px);
    }

    .i-news .news-list li .time {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);

    }
}
.i-news .news-list li img{
    transition: all .5s;
}
.i-news .news-list li:hover img{
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 0 6px rgba(0,0,0,.3);
}
























