.bandh{position:absolute; z-index:10; top:5px; left:270px;}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu   ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
#cssmenu {
    width:889px;
    position:relative;
    z-index:999;
	float:left;
}
 
#cssmenu  ul  li {
  float: left;
  width:95px;
}
 
 
#cssmenu   ul   li  a {
  display:block;
    font-size:18px;
    text-decoration:none;
    color:#000000;
    padding-top:30px;
    cursor:pointer;
    position:relative;
	float:left;
    z-index:9;
	width:95px;
	text-align:center;
	padding-bottom:33PX;
	background:none;
  text-transform: uppercase;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu   ul   li  a p{
  display:block;
    font-size:14px;
 
	padding-bottom:5px;
}
 
#cssmenu  ul   li a.ban1  { background:url(../images/sbiao.png) no-repeat bottom center;  }
#cssmenu  ul   li a:hover  { background:url(../images/sbiao.png) no-repeat bottom center; }
 
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top:76px;
	width:95px;
	text-align:center;
  background:url(../images/hesbg.png) repeat !important;
 
}
#cssmenu li:hover  ul {
  left: auto;
}
 
 
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover   ul   li {
  height:38px;
}
#cssmenu ul ul li a {
  display:block;
    width:127px;
	text-align:center;
	font-size:16px;
	height:38px;
	border-bottom:1px solid #ffffff;
	line-height:38px;
	padding-top:0;
	font-weight:normal;
    background:none !important;
	color:#ffffff !important;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}


 

 
#cssmenu ul ul li:hover   a,
#cssmenu ul ul li a:hover {
  color: #ffffff!important;
  background:url(../images/hesbg.png) repeat !important;
}
 
 